@model CMS.Models.ViewModels.Awards

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Awards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.awardName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.awardName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.awardLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.awardLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.noOfRecipients)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.noOfRecipients)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.awardType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.awardType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>
        <dd>
            @using System.Globalization;
            @{
                string datecreated = Model.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
            }
            @Html.DisplayFor(modelItem => datecreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.awardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
