@model IEnumerable<CMS.Models.ViewModels.Awards>

@{
    ViewData["Title"] = "All award";
}

<p align="center" style="font-size:50px;margin-top:50px;" class="title">All awards</p>
<p align="center">
    <a class="btn btn-info" asp-action="Create">Create New</a>
    <a class="btn btn-info" asp-action="QueryView">Query Visit</a>
</p>
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.awardName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.awardLevel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.noOfRecipients)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.awardType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.dateCreated)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.awardName)
                                </td>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.awardLevel)
                                </td>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.noOfRecipients)
                                </td>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.awardType)
                                </td>
                                <td style="line-height:40px;">
                                    @using System.Globalization;
                                    @{
                                        string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                    }
                                    @Html.DisplayFor(modelItem => datecreated)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.awardId" class="btn btn-primary">Edit</a>
                                    @* <a asp-action="Details" asp-route-id="@item.awardId" class="btn btn-info">Details</a>*@
                                    <a asp-action="Delete" asp-route-id="@item.awardId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

