@model IEnumerable<CMS.Models.ViewModels.Awards>

@{
    ViewData["Title"] = "QueryAwards";
}

<h2>QueryAwards</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.awardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.awardLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noOfRecipients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.awardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.awardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.awardLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfRecipients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.awardType)
            </td>
            <td>
                @using System.Globalization;
                @{
                    string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                }
                @Html.DisplayFor(modelItem => datecreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.awardId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.awardId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.awardId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
