@model CMS.Models.ViewModels.ShortCourses

@{
    ViewData["Title"] = "Delete short courses";
}

<br /><p align="center" style="font-size:50px;">Delete short courses</p>
      <hr />
<h3>Are you sure you want to delete this?</h3>
<br /><br />
<div class="d-flex justify-content-center">
    <div class="card border-dark mb-3" style="max-width: 18rem;border:1px solid #808080;">
        <div class="card-header">Short Courses</div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.courseName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.courseName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.courseSubject)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.courseSubject)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.courseInstructor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.courseInstructor)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.courseVenue)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.courseVenue)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="courseId" />
                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </form>
        </div>
    </div>
</div>
