@model IEnumerable<CMS.Models.ViewModels.ShortCourses>

@{
   // ViewData["Title"] = "Index";
}

<p align="center" style="font-size:50px;margin-top:50px;" class="title">All short courses</p>
<p align="center">
    <a class="h1NewPage" asp-action="Create">Create New</a>
    <a class="h1NewPage" asp-action="QueryView">Query short courses</a>
</p>
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseInstructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseVenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.courseName)
                </td>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.courseSubject)
                </td>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.courseInstructor)
                </td>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.courseVenue)
                </td>
                <td style="line-height:40px;">
                    @using System.Globalization;
                    @{
                        string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                    }
                    @Html.DisplayFor(modelItem => datecreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.courseId" class="btn btn-primary">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.courseId" class="btn btn-info">Details</a>*@
                    <a asp-action="Delete" asp-route-id="@item.courseId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
