@model IEnumerable<CMS.Models.ViewModels.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.studentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.projectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studentYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateCreated)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentYear)
            </td>
            <td>
                @using System.Globalization;
                @{
                    string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                }
                @Html.DisplayFor(modelItem => datecreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.studentAdmin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.studentAdmin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.studentAdmin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
