@model IEnumerable<CMS.Models.ViewModels.Student>

@{
     ViewData["Title"] = "Query Student";
}

<p align="center" style="font-size:50px;margin-top:50px;" class="title">Search result</p>
<p align="center">
    <a class="btn btn-info" asp-action="Create">Create New</a>
    <a class="btn btn-info" asp-action="Index">All Students</a>
    <a class="btn btn-info" asp-action="QueryView">Continue to query</a>
</p>
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.studentName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.projectId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.studentYear)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.dateCreated)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.studentName)
                                </td>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.projectId)
                                </td>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.studentYear)
                                </td>
                                <td style="line-height:40px;">
                                    @using System.Globalization;
                                    @{
                                        string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                    }
                                    @Html.DisplayFor(modelItem => datecreated)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.studentAdmin" class="btn btn-success">Edit</a>
                                    @*<a asp-action="Details" asp-route-id="@item.studentAdmin" class="btn btn-info">Details</a> *@
                                    <a asp-action="Delete" asp-route-id="@item.studentAdmin" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
