@model IEnumerable<CMS.Models.ViewModels.Student>

@{
   // ViewData["Title"] = "QueryStudent";
}

<h2>QueryStudent</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.studentName)
                </td>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.projectId)
                </td>
                <td style="line-height:40px;">
                    @Html.DisplayFor(modelItem => item.studentYear)
                </td>
                <td style="line-height:40px;">
                    @using System.Globalization;
                    @{
                        string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                    }
                    @Html.DisplayFor(modelItem => datecreated)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.studentAdmin" class="btn btn-primary">Edit</a>
                    @*<a asp-action="Details" asp-route-id="@item.studentAdmin" class="btn btn-info">Details</a> *@
                    <a asp-action="Delete" asp-route-id="@item.studentAdmin" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
