@model CMS.Models.ViewModels.Theme

@{
    ViewData["Title"] = "View theme";
}

<div>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">View theme</p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.themeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.themeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.backgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.backgroundColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fontStyle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fontStyle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>
        <dd>
            @using System.Globalization;
            @{
                string datecreated = Model.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
            }
            @Html.DisplayFor(modelItem => datecreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.themeId"class="btn btn-outline-primary">Edit</a> 
    <a asp-action="Index"class="btn btn-outline-info">Go to themes list</a>  
    <a asp-controller="Presets" asp-action="Index"class="btn btn-outline-info">Back</a>
</div>
