@model IEnumerable<CMS.Models.ViewModels.CompanyType>

@{
    ViewData["Title"] = "All company type";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">All company type Menu</p>
    <p align="center">
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.companyType)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="line-height:40px;">
                                        @Html.DisplayFor(modelItem => item.companyType)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.companyTypeId" class="btn btn-primary">Edit</a>
                                        @* <a asp-action="Details" asp-route-id="@item.companyTypeId" class="btn btn-info">Details</a> *@
                                        <a asp-action="Delete" asp-route-id="@item.companyTypeId" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
