@model IEnumerable<CMS.Models.ViewModels.CompanyType>

@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">All company type Manu</p>
    <p align="center">
        <a class="h1NewPage" asp-action="Create">Create New</a>
    </p>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.companyType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="line-height:40px;">
                        @Html.DisplayFor(modelItem => item.companyType)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.companyTypeId" class="btn btn-primary">Edit</a>
                        @* <a asp-action="Details" asp-route-id="@item.companyTypeId" class="btn btn-info">Details</a> *@
                        <a asp-action="Delete" asp-route-id="@item.companyTypeId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
