@model CMS.Models.ViewModels.Preset

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Preset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Theme Name
        </dt>
        <dd>
            @{
                CMSContext context = new CMSContext();
                var them = context.Theme.SingleOrDefault(n => n.themeId == Model.themeId);
                var themename = them.themeName;
            }
            @Html.DisplayFor(modelItem => themename)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.visitId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.visitId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="presetId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
