@model IEnumerable<CMS.Models.ViewModels.Preset>
@{
    ViewData["Meta"] = new string[3] { "All Preset", "MetaKeyword", "MetaDescription" };
}
<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <p align="center" style="font-size:50px;margin-top:50px;" class="title">All presets</p>
    <p align="center">
        <a class="btn btn-info" asp-action="Create">Create New</a>
    </p>
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>

                                <th>
                                    Theme Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.visitId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dateCreated)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td style="line-height:40px;">
                                        @{
                                            CMSContext context = new CMSContext();
                                            var them = context.Theme.SingleOrDefault(n => n.themeId == item.themeId);
                                            var themename = them.themeName;
                                        }
                                        @Html.DisplayFor(modelItem => themename)
                                    </td>
                                    <td style="line-height:40px;">
                                        @{

                                            Visits visit = context.Visits.SingleOrDefault(s => s.visitId == item.visitId);
                                            string name = "";
                                            if (visit != null)
                                            {
                                                name = visit.companyName;
                                            }
                                            else
                                            {
                                                name = "Not find this visit!";
                                            }

                                        }
                                        @Html.DisplayFor(modelItem => name)
                                    </td>
                                    <td style="line-height:40px;">
                                        @using System.Globalization;
                                        @{
                                            string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                        }
                                        @Html.DisplayFor(modelItem => datecreated)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.presetId" class="btn btn-success">Edit</a>
                                        @*<a asp-action="Details" asp-route-id="@item.presetId" class="btn btn-info">Details</a>*@
                                        <a asp-action="Delete" asp-route-id="@item.presetId" class="btn btn-danger">Delete</a>
                                        @{
                                            var parms = new Dictionary<string, string>
                                                                                            {
                                                                                                { "themeId", item.themeId.ToString() }
                                                                                            };
                                        }
                                        <a asp-action="ViewTheme" asp-route-id="@item.themeId" class="btn btn-default">View Theme</a>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
