@model IEnumerable<CMS.Models.ViewModels.UserInfo>

@{
    ViewData["Title"] = "All users";
}
<p align="center" style="font-size:50px;margin-top:50px;" class="title">All users</p>
<p align="center">
    <a class="btn btn-info" asp-controller="Admin" asp-action="CreateUser">Create New</a>
</p>
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UserName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NormalizedEmail)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Admin)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                                </td>
                                <td>
                                    @{
                                        string role = "";
                                        if (item.Admin)
                                        {
                                            role = "Admin";
                                        }
                                        else
                                        {
                                            role = "User";
                                        }
                                    }
                                    @Html.DisplayFor(modelItem => role)
                                </td>
                                <td>
                                    @*<a asp-action="Edit" asp-route-id="@item.UserName" class="btn btn-success">Edit</a>*@

                                    @{
                                        var parms = new Dictionary<string, string>
                                                {
                                                    { "username", item.UserName }
                                                };
                                    }

                                    <a asp-action="Delete" asp-all-route-data="parms" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
