@model IEnumerable<CMS.Models.ViewModels.Projects>

@{
    ViewData["Title"] = "All project";
}

<p align="center" style="font-size:50px;margin-top:50px;" class="title">All projects</p>
<p align="center">
    <a class="btn btn-info" asp-action="Create">Create New</a>
    <a class="btn btn-info" asp-action="QueryView">Query project</a>
</p>
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.projectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.projectState)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.noOfStudents)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.dateCreated)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            CMSContext context = new CMSContext();
                            var list = context.Student.ToList();
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.projectName)
                                </td>
                                <td style="line-height:40px;">
                                    @Html.DisplayFor(modelItem => item.projectState)
                                </td>
                                <td style="line-height:40px;">
                                    @{
                                        int i = 0;
                                        foreach (Student student in list)
                                        {
                                            if (student.projectId == item.projectId)
                                            {
                                                i++;
                                            }
                                        }
                                        context.Update(item);
                                        await context.SaveChangesAsync();
                                    }
                                    @Html.DisplayFor(modelItem => i)
                                </td>
                                <td style="line-height:40px;">
                                    @using System.Globalization;
                                    @{
                                        string datecreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                    }
                                    @Html.DisplayFor(modelItem => datecreated)
                                </td>
                                <td style="line-height:40px;">
                                    <a asp-action="Edit" asp-route-id="@item.projectId" class="btn btn-success">Edit</a>
                                    @*<a asp-action="Details" asp-route-id="@item.projectId" class="btn btn-info">Details</a>*@
                                    <a asp-action="Delete" asp-route-id="@item.projectId" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
