
<!DOCTYPE html>
<html style="background:#f2f7f8;">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - CMS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    @*<link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">*@
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">
    <!--awesome font include-->
    <link type="text/css" rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <!--include plugin css-->
    <link type="text/css" rel="stylesheet" href="~/src/jquery-rvnm.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*<link rel="stylesheet" href="~/css/bundlecss.min.css" />*@
</head>
<body class="fix-header fix-sidebar card-no-border">
    @*<div id="wrapper" class="container-fluid" style="flex-direction:row;display: flex; flex-wrap:wrap;">
            <div class="row">
                @await Component.InvokeAsync(nameof(UserDetail))
                <section id="show" class="col-sm-9">@RenderBody()</section>
                <footer id="mainFooter" class="col-sm-12">&copy; @DateTime.Now.Year - CITI CMS</footer>
            </div>
        </div>*@

    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        @await Component.InvokeAsync(nameof(UserDetail))
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid d-flex justify-content-lg-start">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                @*<div class="row page-titles">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">@ViewContext.RouteData.Values["controller"].ToString()</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item active">@ViewContext.RouteData.Values["controller"].ToString()</li>
                    <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
                </ol>
            </div>
        </div>*@
                <div class="col-md-6 col-8 d-flex justify-content-start " style="width:auto; height:auto; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background:none;z-index:1000;">
                    @*<h3 class="text-themecolor m-b-0 m-t-0" style=" align-items:center;">@ViewContext.RouteData.Values["controller"].ToString()</h3>*@
                    <ol class="breadcrumb"style="width:auto; height:auto; padding:0px 0px 0px 0px; margin:0px 0px 0px 0px; background:none;">
                        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                        <li class="breadcrumb-item active"><a asp-controller="@ViewContext.RouteData.Values["controller"].ToString()" asp-action="index">@ViewContext.RouteData.Values["controller"].ToString()</a> </li>
                        <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
                    </ol>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="">
                    <section id="show" class="col-sm-9" style="position:absolute;left:0px;right:0px;margin:auto;max-width:80rem;">@RenderBody()</section>
                </div>

                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            @*<footer class="footer text-center">
                    © 2019 CITI2.0-CMS
                </footer>*@
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript -->
    <script src="~/assets/plugins/flot/jquery.flot.js"></script>
    <script src="~/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/js/flot-data.js"></script>
    <!-- ============================================================== -->

    <script src="~/js/bundlejs.min.js"></script>
    @RenderSection("Script", false)

</body>
</html>