@model CMS.Models.ViewModels.Visits
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@{
    ViewData["Title"] = "Delete visit";
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete</title>
</head>
<body>
    <p align="center" style="font-size:50px;">Delete visit</p>
    <h3 style="">Are you sure you want to delete this?</h3>
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Visits</div>
        <div class="card-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd>
                    @{
                        string startdate = Model.StartDate.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                    }
                    @Html.DisplayFor(model => startdate)
                </dd>
                <dt>

                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd>
                    @{
                        string enddate = (Model.EndDate == null) ?  "NIL": Model.EndDate?.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                    }
                    @Html.DisplayFor(model => enddate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Pax)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Pax)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.SIC)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SIC)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Host)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Host)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ForeignVisit)
                </dt>
                <dd>
                    @{
                        string foreignVisit = Model.ForeignVisit ? "Yes" : "No";
                    }
                    @Html.DisplayFor(model =>foreignVisit)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="VisitId" />
                <input type="submit" value="Delete" class="btn btn-outline-danger" />
                <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
            </form>
        </div>
    </div>
</body>
</html>
