@model CMS.Models.ViewModels.Visits
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@{
    ViewData["Title"] = "Delete visit";
}

<!DOCTYPE html>

<html>
<head>
    <title>Delete</title>
</head>
<body>
    <br /><p align="center" style="font-size:50px;">Delete visit</p>
    <hr />
    <h3 align="left" style="margin-left:50px;">Are you sure you want to delete this?</h3>
    <br /><br />
    <div class="d-flex justify-content-center">
        <div class="card border-dark mb-3" style="max-width: 800px; border:1px solid #808080;width:400px;">
            <div class="card-header" align="center">Visits</div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <dl class="dl-horizontal" style="padding-right:25px;">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd>
                            @{
                                string startdate = Model.StartDate.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                            }
                            @Html.DisplayFor(model => startdate)
                        </dd>
                        <dt>

                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd>
                            @{
                                string enddate = (Model.EndDate == null) ? "NIL" : Model.EndDate?.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                            }
                            @Html.DisplayFor(model => enddate)
                        </dd>
                    </dl>
                    <dl style="padding-left:25px;">
                        <dt>
                            @Html.DisplayNameFor(model => model.Pax)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Pax)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.SIC)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.SIC)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Host)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Host)
                        </dd>
                    </dl>
                </div>
                <div>
                    <dl class="dl-horizontal d-flex justify-content-center">
                        @{
                            string foreignVisit = Model.ForeignVisit ? "Yes" : "No";
                        }
                        <dt>@Html.DisplayNameFor(model => model.ForeignVisit):@Html.DisplayFor(model => foreignVisit)</dt>
                    </dl>
                </div>
                <form asp-action="Delete" class="d-flex justify-content-center">
                    <input type="hidden" asp-for="VisitId" />
                    <input type="submit" value="Delete" class="btn btn-outline-danger" style="margin-right:20px;" />
                    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
