@model IEnumerable<CMS.Models.ViewModels.Visits>
@using System.Globalization;

@{
    if(ViewBag.error == null)
    {
        ViewData["Title"] = "Success";
    }
    else
    {
        ViewData["Title"] = "Error";
    }

    ViewData["Controller"] = "Visit";
}
<br />
@if (ViewBag.error == null)
{
    <p align="center" style="font-size:50px;">Import Success</p>
    @if (ViewBag.nullrow == null || ViewBag.nullrow == 0)
    {
        <div class="d-flex justify-content-center">
            <div style="width:50%;">
                <div class="row d-flex justify-content-center">
                    <div class="card  text-white" style="border:2px solid #808080;width:60%;">
                        <div class="card-header bg-success">
                            <h1 class="" align="center" style="margin:5px;">Success</h1>
                        </div>
                        <div class="card-body card-success d-flex flex-column">
                            <div class="card-title" style="font-size:25px;">Successfully imported data!</div>
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column">
                                    <span class="card-text" style="font-size:20px;">added @ViewBag.create data</span>
                                    <span class="card-text" style="font-size:20px;">updated @ViewBag.update data</span>
                                    <span class="card-text" style="font-size:20px;">@ViewBag.repeat data already exists</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <div style="width:50%;">
                <div class="row d-flex justify-content-center">
                    <div class="card  text-white" id="successCard" style="border:2px solid #808080;width:60%;">
                        <div class="card-header bg-success">
                            <h1 class="" align="center" style="margin:5px;">Success</h1>
                        </div>
                        <div class="card-body card-success d-flex flex-column">
                            <div class="card-title" style="font-size:25px;">Successfully imported data!</div>
                            <div class="d-flex justify-content-center">
                                <div class="d-flex flex-column">
                                    <span class="card-text" style="font-size:20px;">added @ViewBag.create data</span>
                                    <span class="card-text" style="font-size:20px;">updated @ViewBag.update data</span>
                                    <span class="card-text" style="font-size:20px;">@ViewBag.repeat data already exists</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="width:50%; border-left:2px solid #808080">
                <div class="row d-flex justify-content-center">
                    <div class="card  text-white" style="border:2px solid #808080;width:60%;" id="warningCard">
                        <div class="card-header bg-warning">
                            <h1 class="" align="center" style="margin:5px;">Warning</h1>
                        </div>
                        <div class="card-body card-warning d-flex flex-column">
                            <div class="card-title" style="font-size:25px;">
                                Have @ViewBag.nullrow rows that have not been added
                                , they are:
                            </div>
                            <div class="d-flex justify-content-center" style="margin-top:0px;">
                                <div style="margin-top:0px;">
                                    <p style="font-size:20px;color:#ff0000;margin-top:0px;overflow:auto;">@ViewBag.position</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    @if (ViewBag.delete != 0)
    {
        <div class="row" style="margin-top:10px;">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card" style="border:1px solid #808080;">
                    <h3 class="card-header">Excel does not contain the following @ViewBag.delete data can be considered to delete</h3>

                    <div class="table-responsive">
                        <table class="table" id="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.No)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.StartDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EndDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Pax)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SIC)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Host)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ForeignVisit)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.dateCreated)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.No)
                                        </td>
                                        <td>
                                            @{
                                                string startdate = item.StartDate.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                            }
                                            @Html.DisplayFor(modelItem => startdate)
                                        </td>
                                        <td>
                                            @{
                                                string enddate = item.EndDate?.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                                enddate = (enddate == null) ? "NIL" : enddate;
                                            }
                                            @Html.DisplayFor(modelItem => enddate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pax)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SIC)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Host)
                                        </td>
                                        <td>
                                            @{
                                                string foreignVisit = item.ForeignVisit ? "Yes" : "No";
                                            }
                                            @Html.DisplayFor(modelItem => foreignVisit)
                                        </td>
                                        <td>
                                            @{
                                                string dateCreated = item.dateCreated.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                            }
                                            @Html.DisplayFor(modelItem => dateCreated)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.VisitId" class="btn btn-success" style="width:80px;">Edit</a>
                                            <a asp-action="Delete" asp-route-id="@item.VisitId" class="btn btn-danger" style="width:80px;">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    }

}
else
{
    <p align="center" style="font-size:50px;">Import Failure</p>
    @if (ViewBag.name != null)
    {
        <span class="d-flex justify-content-center text-danger" style="font-size:25px;">worksheet:@ViewBag.name</span>
        <span class="d-flex justify-content-center text-danger" style="font-size:25px;">@ViewBag.error</span>
        <span class="d-flex justify-content-center text-warning" style="font-size:25px;">Note: The data before this worksheet has been added.</span>
    }
    else
    {
        <span class="d-flex justify-content-center text-danger" style="font-size:25px;">@ViewBag.error</span>
    }
}
<p class="d-flex justify-content-center"><a asp-controller="Visits" asp-action="index" class="btn btn-outline-info">Back to list</a></p>

<script>
    window.onload = function() {
        setHeight();
    }
    window.onresize = function () { setHeight() };
    function setHeight() {
        try {
            console.log("resize card");
            document.getElementById("successCard").style.height = document.getElementById("warningCard").offsetHeight + "px"; //兼容FF、IE等 
            console.log("finsh");
        } catch{

        }
    }
    
</script>
