@model IEnumerable<CMS.Models.ViewModels.Visits>
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@{
    ViewData["Title"] = "Query visit";
}

<!DOCTYPE html>

<html>
<head>
    <title>QueryVisit</title>
</head>
<body>
    <p align="center" style="font-size:50px;" >Search result</p>
    <p align="center">
        <a class="btn btn-info" asp-action="Create">Create New</a>
        <a class="btn btn-info" asp-action="Index">All Visits</a>
        <a class="btn btn-info" asp-action="QueryView">Continue to query</a>
    </p>
    <div class="row">
        <!-- column -->
        <div class="col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.StartDate)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.EndDate)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Pax)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.SIC)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.Host)
                                </th>
                                <th scope="col">
                                    @Html.DisplayNameFor(model => model.ForeignVisit)
                                </th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="line-height:40px;">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td style="line-height:40px;">
                                        @{
                                            string startdate = item.StartDate.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo);
                                        }
                                        @Html.DisplayFor(modelItem => startdate)
                                    </td>
                                    <td style="line-height:40px;">
                                        @{

                                            string enddate = item.EndDate.Equals("") ? item.EndDate?.ToString("dd MMM yyyy,hh:mm", DateTimeFormatInfo.InvariantInfo) : "NIL";
                                        }
                                        @Html.DisplayFor(modelItem => enddate)
                                    </td>
                                    <td style="line-height:40px;">
                                        @Html.DisplayFor(modelItem => item.Pax)
                                    </td>
                                    <td style="line-height:40px;">
                                        @Html.DisplayFor(modelItem => item.SIC)
                                    </td>
                                    <td style="line-height:40px;">
                                        @Html.DisplayFor(modelItem => item.Host)
                                    </td>
                                    <td style="line-height:40px;">
                                        @{
                                            string foreignVisit = item.ForeignVisit ? "Yes" : "No";
                                        }
                                        @Html.DisplayFor(modelItem => foreignVisit)
                                    </td>
                                    <td>

                                        <a asp-action="Edit" asp-route-id="@item.VisitId" class="btn btn-success">Edit</a>
                                        @*<a asp-action="Details" asp-route-id="@item.visitId" class="btn btn-info">Details</a>*@
                                        <a asp-action="Delete" asp-route-id="@item.VisitId" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
</body>
</html>
